{% extends "App/base.html" %} {% load static %} {% block content %}

<!-- Heading -->
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'App/img/elecciones.jpg' %}" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Seguridad</span>
                    <span class="section-heading-lower">No mas fraudes!</span>
                </h2>
                <p class="mb-3">Este proyecto está destinado a realizar un registro seguro de las papeletas de conteo de votos mediante el uso de Inteligencia Artificial.
                </p>

            </div>
        </div>
    </div>
</section>


<!-- Message -->
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Compromiso total</span>
                        <span class="section-heading-lower">Innovacion</span>
                    </h2>
                    <p class="mb-0">Mi meta es cumplir con un registro seguro de datos, 100% fiable y ademas que sea un software innovador y útil para su uso a futuro.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}